Makefile
Makefile.in
aclocal.m4
autom4te.cache
*.kdevelop.pcs
*.kdevses
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
.deps
.libs
*.la
testcelt
libtool
ltmain.sh
missing
stamp-h1
*.sw
*.o
*.lo
*~
tests/*test
tools/celtdec
tools/celtenc
celt.pc
libcelt.spec
libcelt/dump_modes
